.vscode/**
.vscode-test/**
out/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.xcf
webpack.config.js
node_modules
azure-pipelines.yml